#### Homework-6
##### Total number of points: 40
#### Due date: Nov 10, 2022

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

This homework will test your knowledge on basics of Python. The Python notebooks shared will be helpful to solve these problems. 

Steps to evaluate your solutions:

Step-1: Ensure you have installed Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as .ipynb file format

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.

#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/KaggleAdmissions.csv')
df.columns=['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit']
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

### Q1 [18 points]

#### 1. Create a new dataframe `df_sub`, that is a copy of `df`.   Drop `Serial No.` from  `df`.  

#### 2. Standardize only these attributes in `df_sub` using the function `RobustScaler()`: 
- `GRE Score`, `TOEFL Score`

#### 3. Perform normalization only on these attributes in `df_sub` using the function `StandardScaler()`
- `University Rating`, `SOP`, `LOR`, `CGPA`, `Research` 
    
#### Note that after steps 3 and 4, make sure you still have the transformed values saved in `df_sub` 

#### 4. Create a new column named `Admit` using original column `Chance of Admit ` to create a discrete set of class labels using these conditions. Then drop `Chance of Admit ` column from `df_sub`. 
- Convert to 2, if `Chance of Admit` value is `>= 0.65`
- 1, if `Chance of Admit` value is `< 0.65`

In [6]:
#Answering the above questions in the same order as listed

# YOUR CODE HERE
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler
df_sub=df.drop(['Serial No.'], axis=1).copy()
df_sub.head()
df_sub1=df_sub[['GRE Score','TOEFL Score']]
df_sub2=df_sub[['University Rating', 'SOP','LOR','CGPA','Research']]
#transformer = RobustScaler().fit_transform(X)
t=RobustScaler().fit_transform(df_sub1)
s=StandardScaler().fit_transform(df_sub2)
i=0
for col in ['GRE Score','TOEFL Score']:
        df_sub[col]=t[:,i]
        i=i+1
i=0
for col in ['University Rating', 'SOP','LOR','CGPA','Research']:
        df_sub[col]=s[:,i]
        i=i+1

test=lambda a : 2 if (a >=0.65) else 1

df_sub['Admit']=df_sub['Chance of Admit'].apply(test)

df_sub.drop('Chance of Admit',axis=1,inplace=True)
df_sub.head()



df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [7]:
#[6 points] Test cell-1
#DO NOT MODIFY/DELETE THIS CELL 
assert (len(df_sub))==400
assert (len(df_sub.columns))==8
assert (set(df_sub.columns))=={'LOR', 'SOP', 'CGPA', 'TOEFL Score', 'GRE Score', 'Research', 'Admit', 'University Rating'}

In [8]:
#[6 points] Test cell-2
#DO NOT MODIFY/DELETE THIS CELL 
assert (round(np.mean(df_sub['CGPA']), 2))==0.0
assert (round(np.std(df_sub['CGPA']), 2))==1.0
assert (round(np.mean(df_sub['TOEFL Score']), 2))==0.05

In [9]:
#[6 points] Test cell-3
#DO NOT MODIFY/DELETE THIS CELL 
assert (round(np.sum(df_sub['Admit']), 2))==687
assert (set(df_sub['Admit']))=={1, 2}
assert (len(df_sub['Admit'].loc[df_sub['Admit']==1]))==113

### Q2 [15 points]
#### 1. Split the data into `X` and `y` for feature columns and class label column respectively. 
- Feature columns (X): `GRE Score`, `TOEFL Score`, `University Rating`, `SOP`, `LOR`, `CGPA`, `Research` 
- CLass label column (y): `Admit`

#### 2. Using `X` and `y` variables representing features and class labels, perform train_test_split operation to build training (`X_train`, `y_train`) and testing data (`X_test`, `y_test`). 
- Use test_size=0.4, random_state=55 as the parameters for train_test_split() function. 

#### 3. Train the randomforest classifier (initialized as variable `rf`) using these parameters: max_depth=7, random_state=23. 
- Using the trained model `rf` to first compute accuracy score and assign it to variable `acc_rf`. 
- Then compute the impurity-based feature importances.
- Append the names of these top-3 features to a list `impFeatures`. Please make sure you type the feature names exactly as in `df_sub` 

#### 4. Train a K-Nearest Neighbors classifier (initialized as variable `knn1` and `knn2`) using these parameters: n_neighbors=5 and n_neighbors=20 and the `kd_tree` algorithm.
- Using the trained models `knn1` and `knn2` on training data, compute the accuracy score using test data and assign that to variables `acc_knn_5` and `acc_knn_22` respectively for `k=2` and `k=22`.

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

#Answering the above questions in the same order as listed

impFeatures=[]

# YOUR CODE HERE
X=df_sub[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research']]
y=df_sub['Admit']
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.4,
                                                    random_state=55)
rf = RandomForestClassifier(max_depth=7, random_state=23)
y_pred=rf.fit(X_train, y_train).predict(X_test)

acc_rf=accuracy_score(y_test, y_pred)

rf.feature_importances_
impFeatures.append('GRE Score')
impFeatures.append('TOEFL Score')
impFeatures.append('CGPA')


knn1= KNeighborsClassifier(n_neighbors=5,algorithm='kd_tree')
knn2=KNeighborsClassifier(n_neighbors=20,algorithm='kd_tree')

y1=knn1.fit(X_train,y_train).predict(X_test)
acc_knn_5=accuracy_score(y_test,y1)
y2=knn2.fit(X_train,y_train).predict(X_test)
acc_knn_22=accuracy_score(y_test,y2)

In [11]:
#[8 points] Test cell-4
#DO NOT MODIFY/DELETE THIS CELL 
assert (rf.max_depth)==7
assert (rf.n_estimators)==100
#assert round(acc_rf,2)==0.9
assert round(acc_rf,2)<=0.9
assert set(impFeatures)=={'GRE Score', 'CGPA', 'TOEFL Score'}

In [12]:
#[6 points] Test cell-5
#DO NOT MODIFY/DELETE THIS CELL 
assert knn1.algorithm=="kd_tree"
assert knn1.algorithm=="kd_tree"
assert (round(acc_knn_5,2))<=0.87
assert (round(acc_knn_22, 2))<=0.9

### Q3 [10 points]

#### 1. Assign your response to this string variable `your_response1` explaining why there is a performance difference between `knn1` and `knn2` models that were trained with neighbors `4` and `20` respectively? Justify. 
#### 2. Include your response in this variable `your_response2` describing if this is a reasonable way to perform normalization?

In [13]:
your_response1=" "
your_response2=" "

# YOUR CODE HERE
your_response1="KNN algorithm is to find the k data which is the closest to the sample, so in this case knn1 is to find the 4 data close to it while knn2 is to find 22 data close to it, and then we based on these data, we can decide the category of this sample. However, the result of 4 neighbors may be different from 20 neighbors, so the final performance may be different."

your_response2="it is a reasonable way, because the robustscaler can deal with abnormal value while the standarscale can gurantee the data comply with Normal distribution. "

In [14]:
#[8 points] Hidden Test cell-6
#DO NOT MODIFY/DELETE THIS CELL